{% load static %}
<!DOCTYPE html>
<html>
    <head>
      <script>
        document.addEventListener( 'DOMContentLoaded', function () {
          new Splide( '#image-carousel' ).mount();
        } );
      </script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">
        <title>ЧОО "ББЛ" | Главная</title>
        <link rel="icon" href="/media/Logo.svg"  type="image/x-icon">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
        <!--<link rel="stylesheet" href="{% static 'libs/bootstrap-reboot.min.css'%}"> -->
        <link rel="stylesheet" href="{% static 'libs/bootstrap-grid.min.css'%}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/styles.css'%}">
        <script src="{% static 'js/scripts.js'%}"></script>
    </head>
    <body>
      <div class="popup1">
        <div class="popup" >
          <span class="close1" style="cursor: pointer;">&times;</span>
          <div class="content">
            <span class="popup_head_text">Заказать звонок<br></span>
            <span class="popup_sub_text">Оставьте заявку и мы свяжемся с Вами в ближайшее время!<br></span>
            <form enctype="multipart/form-data" method="post">
              {% csrf_token %}
              {{ form }}
              
              <!-- 
              <input class="popup_input" placeholder="Имя" type="text" value="{{ name }}"><br>
              <input class="popup_input" placeholder="Телефон" type="tel" value="{{ service }}"><br>
              <input class="popup_input" placeholder="Email(необязательно) value="{{ tel_number }}"" type="text"><br>
              <input class="popup_input" placeholder="Email(необязательно) value="{{ email }}"" type="text"><br>
              -->

              <span>* Указывая свой почтовый адрес, я подтверждаю, что хочу получать рекламные предложения.<br></span>
              <button class="popup_submite" type="submit">Отправить</button>
            </form>
          </div>
        </div>
        <div class="overlay"></div>
      </div>
      <div>
        <div class="header_cont">
          <div class="m_cont">
            <div class="head_m_icon">
              <a href="#"><img id="head_cont_icon" class="head_icon"src="{% static '/images/tg_white.svg' %}"/></a>
              <a href="#"><img id="head_cont_icon" class="head_icon"src="{% static "image/x" %}}"/></a>
              <a href="#"><img id="head_cont_icon" src="{% static '/images/wats_white.svg' %}" /></a>
            </div>
            <div class="head_m_phone">
              <a id="p_tele" href="tel:88000000000">+7(900) 000 00-00</a>
            </div>
          </div>
            <div class="cont">
                <div class="logo">
                    <a href="/"><img src="{% static '/images/Logo.svg' %}" alt="Logo"/></a>
                </div>
            <div class="navbar-wrap">
              <ul class="menu">
                <li><a id="menu_item" href="/">Главная</a></li>
                <div class="dropdown">
                  <li><a id="menu_item" class="down" href="/service">Услуги</a></li>
                  <div class="dropdown-content">
                    <ul>
                      <li><a href="/phy_sec">Физическая охрана</a></li>
                      <hr id="hr_menu">
                      <li><a href="/video_sec">Видео охрана</a></li>
                      <hr id="hr_menu">
                      <li><a href="/radio_sec">Радио охрана</a></li>
                      <hr id="hr_menu">
                      <li><a href="/cargo_sec">Сопровождение грузов</a></li>
                    </ul>
                  </div>
                </div>
                <div class="dropdown">
                  <li><a id="menu_item" href="/about">О компании</a></li>
                  <div class="dropdown-content">
                    <ul>
                      <li><a href="/portfolio">Наши проекты</a></li>
                    </ul>
                  </div>
                </div>
                  <li><a id="menu_item" href="/contacts">Контакты</a></li>
                  <li><a id="menu_item" href="/vacancies">Вакансии</a></li>
                </ul>
            </div>
            <div class="contacts">
                <div class="messagners">
                    <a href="#"><img id="head_cont_icon" class="head_icon"src="{% static '/images/tg.svg' %}"/></a>
                    <a href="#"><img id="head_cont_icon" src="{% static '/images/wh.svg' %}"/></a>
                </div>
                <div class="tel_number">
                    Пн-Пт с 8:00 до 18:00<br>
                    Сб с 8:00 до 15:00<br>
                    <a href="tel:88000000000">+7(900) 000 00-00</a>
                </div>
                <button class="callback" id="callback" style="vertical-align:middle">
                  <span id="btn_span">Заказать звонок</span>
                </button>
                
                <!-- <a href="#popup1" class="callback">Обратный звонок</a> -->
            </div>
            <div id="mySidepanel" class="sidepanel">
              <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
              <ul class="menu">
                <li><a id="menu_item" href="">Главная</a></li>
                <li><a id="menu_item" href="/templates/services">Услуги</a></li>
                <li><a id="menu_item" href="/about">О компании</a></li>
                <li><a id="menu_item" href="/contacts">Контакты</a></li>
                <li><a id="menu_item" href="/vacancies">Вакансии</a></li>
              </ul>
            </div>
            <button class="openbtn" onclick="openNav()">&#9776;</button>
        </div>
        
      </div>

      

    <div class="main_content">
          <div class="main_banner">
              <img class="banner_img" src="{% static '/images/main_banner.jpg' %}" alt="banner">
              <div class="main_lol">
                  <h1 id="fis_word">Охранное предприятие в<br> Екатеринбурге «ББЛ»</h1>
                  <h2 id="sec_word">Мы предоставляет широкий спектр услуг для обеспечения безопасности <br> вашего бизнеса и личности. Мы специализируется на физической, видео<br>и радио охране.</h2>
                  <a href="#popup1" id="callback" class="btn_get_from_callback">Получить консультацию</a>
              </div>
          </div>

        <div class="stuff_container">
            <div>
              <h1 id="services_main">Услуги</h1>
              <div class="card-container">
                <div class="card" style="cursor: pointer;" onclick="window.location='/phy_sec';">
                  <div class="card-content">
                    <h2 class="card-title">Физическая охрана объектов</h2>
                    <p class="card-description">Предоставляем услуги посуточной или почасовой охраны объектов</p>
                  </div>
                  <img id="phy_img" src="{% static '/images/phy.jpg' %}" alt="Category Three" class="card-image">
                </div>
                <div class="card" style="cursor: pointer;" onclick="window.location='/video_sec';">
                  <div class="card-content">
                    <h2 class="card-title">Монтаж и обслуживание систем видеонаблюдения</h2>
                    <p class="card-description">Помогаем следить за вашими объектами 24/7</p>
                  </div>
                  <img id="cam_img" src="{% static '/images/cam.png' %}" alt="Category Three" class="card-image">
                </div>
                <div class="card" style="cursor: pointer;" onclick="window.location='/radio_sec';">
                  <div class="card-content">
                    <h2 class="card-title">Монтаж и обслуживание систем радиоохраны</h2>
                    <p class="card-description">Предоставляем услуги посуточной или почасовой охраны объектов</p>
                  </div>
                  <img src="{% static '/images/radio.png' %}" alt="Category Three" class="card-image">
                </div>
                <div class="card" style="cursor: pointer;" onclick="window.location='/cargo_sec';">
                  <div class="card-content">
                    <h2 class="card-title">Сопровождение грузов</h2>
                    <p class="card-description">Предоставляем услуги посуточной или почасовой охраны объектов</p>
                  </div>
                  <img src="{% static '/images/protected_3180118.png' %}" alt="Category Foure" class="card-image">
                </div>
              </div>

              <div class="description_block">
                <div class="desc_head_text">
                  <span id="head_text">ЧОО «ББЛ»<br>
                    одно из лучших решений<br>
                    для безопасности личности<br>
                    и бизнеса<br>
                  </span>
                    <span id="sub_text">
                      Более 10 лет стабильной работы.<br>
                      Внедрение новейших технологий<br>
                      удаленного управления безопасностью,<br>
                      в совокупности с внедрением <br>
                      традиционных решений для вашей<br>
                      безопасности.<br>
                    </span>

                </div>
                <div class="desc_cards_cont">
                  <div class="desc_card">
                    <div class="circle">
                      <img class="desc_card_icon" src="{% static '/images/icon_house_main.png' %}" alt="obj_icon">
                    </div>
                    <div class="desc_text">
                      <span id="desc_text_head">100</span><br>
                      объектов
                    </div>
                  </div>
                  <div class="desc_card">
                    <div class="circle">
                      <img class="desc_card_icon" src="{% static '/images/icon_man.png' %}" alt="obj_icon">
                    </div>
                    <div class="desc_text">
                      <span id="desc_text_head">300</span><br>
                      охранников
                    </div>
                  </div>
                  <div class="desc_card">
                    <div class="circle">
                      <img class="desc_card_icon" src="{% static '/images/icon_police_car.png' %}" alt="obj_icon">
                    </div>
                    <div class="desc_text">
                      <span id="desc_text_head">3</span><br>
                      станции ГБР
                    </div>
                  </div>
                  <div class="desc_card">
                    <div class="circle">
                      <img class="desc_card_icon" src="{% static '/images/icon_sec_station.png' %}" alt="obj_icon">
                    </div>
                    <div class="desc_text">
                      <span id="desc_text_head">Централизованный</span><br>
                      пункт мониторинга
                    </div>
                  </div>
                </div>
            </div>
            <div>
            </div>
            </div>

                <div class="About">
                    <div class="container_about">
                        <span id="head_text_about">Наши достоинства</span>
                        <div class="text-with-image">
                            <div class="text-content">
                                <div class="top-text">
                                    <span id="sub_text">Наша охранная организация на рынке уже 15 лет и за это время мы зарекомендовали себя как надежный партнер в обеспечении безопасности наших клиентов. Мы предлагаем широкий спектр услуг, включая физическую охрану, видео наблюдение, охрану мероприятий и многое другое. Наша команда профессионалов готова предоставить нашим клиентам высококачественный сервис и защиту 24/7.</span>
                                </div>
                                <div class="bottom-texts">
                                    <div class="bottom-text">
                                        <h3 id="about_header">Скорость</h3>
                                        Быстрый выезд группы реагирования является одним из главных преимуществ, так как это позволяет минимизировать ущерб от возможных преступных действий.
                                    </div>
                                    <div class="bottom-text">
                                        <h3 id="about_header">Профессионализм</h3>
                                        Сотрудники частного охранного организации проходят специальную подготовку и имеют опыт работы, что обеспечивает высокий уровень профессионализма.
                                    </div>
                                </div>
                            </div>
                        <img src="{% static '/images/GBR.jpg' %}" alt="Image" class="side-image">
                    </div>
                </div>
                </div>
            </div>

            <div class="img_carousel_margin">
              <div class="head_item_carousel">
                <span class="img_carousel_head_text">Проекты</span>
                <a class="btn_all_projects" href="/portfolio">Посмотреть все</a>
              </div>
              <div class="img_carousel">
                <section id="image-carousel" class="splide" aria-label="Beautiful Images">
                    <div class="splide__track">
                      <ul class="splide__list">
                        <li id="splide__slide" class="splide__slide">
                          <img src="{% static '/images/p1.png' %}" alt="">
                        </li>
                        <li class="splide__slide">
                          <img id="splide__slide" src="{% static '/images/p1.png' %}" alt="">
                        </li>
                        <li class="splide__slide">
                          <img id="splide__slide" src="{% static '/images/p1.png' %}" alt="">
                        </li>
                      </ul>
                    <div>

                    </div>

                  </div>
                </section>
                  <div class="car_desc">
                    <span id="head_text_car">Любимая кухня</span> <br>
                    <span id="sub_text_car">Проект включает: физическую, радио и видео охрану.</span>
                  </div>
              </div>
            </div>



        <div id="yandex_rewies">
          <iframe style="max-width: 560px;width:100%;height:100%;border:1px solid #e6e6e6;border-radius:8px;box-sizing:border-box" src="https://yandex.ru/maps-reviews-widget/1636003862?comments"></iframe>
      </div>
        <div class="faq-container">
          <div class="faq_head">
            <span id="head_text_about">Часто задаваемые вопросы</span>
          </div>
            <div class="faq-item">
              <div class="faq-question">
                <h5>Какие гарантии безопасности вы можете предоставить?</h5>
                <div class="toggle-icon"></div>
              </div>
              <div class="faq-answer">
                <p>Julius AI is a company that creates AI assistants for data science.</p>
              </div>
            </div>
            <div class="faq-item">
                <div class="faq-question">
                  <h5>Какие гарантии безопасности вы можете предоставить?</h5>
                  <div class="toggle-icon"></div>
                </div>
                <div class="faq-answer">
                  <p>Julius AI is a company that creates AI assistants for data science.</p>
                </div>
              </div>
              
            <!-- Repeat for other FAQ items -->
          </div>
          <div class="faq_footer">
            <div class="faq_text_bot">
              <span id="faq_head_text">Еще естались вопросы? <br></span>
              <span id="sub_text">Свяжитесь с нами и мы ответим на все ваши вопросы</span>
            </div>
            <div class="faq_btn_bot">
              <a id="callback" class="btn_faq">Оставить заявку</a>
            </div>
          </div>
    </div>

    <div class="container_lic">
      <h1 id="services">Лицензия</h1>
      <div class="images">
        <img src="{% static '/images/lic_1.png' %}" alt="Изображение 1">
        <img src="{% static '/images/lic_2.png' %}" alt="Изображение 2">
      </div>
    </div>

    <footer>
        <div class="logo-block">
          <img src="{% static '/images/Logo.svg' %}" alt="Логотип">
          <p id="footer_text_address">Адрес:</p>
          <p id="footer_text_address">город Екатеринбург, Елизаветинское шоссе, д. 29</p>
          <p id="footer_text_address">Контакты:</p>
          <p id="footer_text_address">+7(900) 000 00-00</p>
          <p id="footer_text_address1">boss@chopbbl.ru</p>
          <a class="callback_footer" id="callback">Оставить заявку</a>
        </div>
        <div class="footer_nemu">
            <div id="footer_text_naw" class="info-block">
                <h3 id="h_info">Каталог сайта</h3>
                <div class="info_naw">
                    <a href="/" id="info_naw_item">Главная <br></a>
                    <a href="/service" id="info_naw_item">Услуги <br></a>
                    <a href="/about" id="info_naw_item">О нас <br></a>
                    <a href="/vacancies" id="info_naw_item">Вакансии</a>
                </div>
            </div>
            <div id="footer_text_naw" class="info-block">
                <h3 id="h_info">Наши соц. сети</h3>
                <div class="info_naw">
                  <a href="#" id="info_naw_item">Вконтакте</a>
              </div>
            </div>
            <div id="footer_text_naw" class="info-block">
                <h3 id="h_info">Наши соц. сети</h3>
                <div class="info_naw">
                  <a href="#" id="info_naw_item">Whats'app<br></a>
                  <a href="#" id="info_naw_item">Telegram<br></a>
              </div>
            </div>
        </div>
        <hr>
        <div class="footer-bottom">
          <p id="footer_text">© 2023 ООО ЧОО «ББЛ». Все права защищены.</p>
          <div class="footer_right_bottom_text">
            <p id="footer_text_bot"> <a class="href_footer" href="#">Политика конфиденциальности</a></p>
          </div>

        </div>
      </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
</html>